*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu{
    float: right;
}

.nama {
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: black;
    padding: 0 25px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    top: 0;
    background: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    text-align: center;
    font-size: 23px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.img {
  
    height: 100%;
}

#hi {
    color: white;
}
.container {
    display: flex;
    height: 100vh;
}

.home {
    background-image: url('icigo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: relative;
}

.dua{
    float: right;
}

.work{
    width: 300px; 
    height: 300px;
}

.contact{
    width: 400px; 
    height: 400px;
}

.logo-medsos {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 70px;
}


